{% extends 'base.html.twig' %}

{% block title %}Settings Bundle Demo{% endblock %}

{% block body %}

    <h1>
        {{ systemSettings.title }}
    </h1>
    <h2>
        {{ systemSettings.tagline }}
        <span class="badge info">{{ systemSettings.version }}</span>

    </h2>
    {% set roleMap = {
        system: 'ROLE_ADMIN',
        user: 'ROLE_USER',
        project: 'PROJECT_ADMIN'
    } %}
    <div class="row">
        {% for collection, classSettings in collectionSettings %}
            <div class="col-md-4">
                <twig:Settings :settings="classSettings" :isAdmin="is_granted(roleMap[collection])">

                </twig:Settings>

            </div>
        {% endfor %}
        <div class="col-md-4">
            {% set columns = [
                'id',
                'name',
                'owner'
            ] %}
            <twig:simple_datatables :data="projects" :columns="columns">
                <twig:block name="name">
                    <a href="{{ path('app_project', { projectId: row.id }) }}">
                        {#            <a href="{{ path('project_show', {id:row.id}) }}"> #}
                        {{ row.name }}
                    </a>

                </twig:block>

            </twig:simple_datatables>

        </div>
    </div>


{% endblock %}
