{% extends 'base.html.twig' %}

{% block title %}Settings Bundle Demo{% endblock %}

{% block body %}

    <h1>{{ systemSettings.tagline }}
        <span class="badge info">{{ systemSettings.version }}</span>
    </h1>

    Nav: <a href="{{ path('app_project') }}">Projects</a>
{#        {{ dump(collectionSettings) }}#}
    <div class="row">
        {% for collection, classSettings in collectionSettings %}
            {% for settingsDef in classSettings %}

                <div class="col-md-4">
                    <div class="card">

                        <h3 class="card-title">{{ settingsDef.class }}</h3>
                        <div>
                            {{ settingsDef.class|trans }}
                        </div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Var</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for var,val in settingsDef.settings %}
                                <tr>
                                    <td>

                                        {% if val|fn_gettype == 'boolean' %}
                                        {% set tag = val ? 'ins' : 'del' %}
                                        <{{ tag }}>{{ var }}</{{ tag }}>
                                    {% else %}
                                        {{ var }}
                                        {% endif %}
{#                                        {{ val|fn_gettype }}#}
                                    </td>
                                    <td>
                                        {{ val is iterable ? val|json_encode : val }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if is_granted('ROLE_USER') %}
                            <button>
                                <a href="{{ path(settingsDef.route, settingsDef.routeParams) }}">
                                    Edit {{ settingsDef.class }}
                                </a>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>



{% endblock %}
